* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;

}

body {
  background-color: #F0EFFA;
}

.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F0EFFA;
}

.register-card {
  background: white;
  padding: 40px;
  border-radius: 16px;
  width: 350px;
  box-shadow: 0 10px 30px rgb(167 167 167);
}

.register-card form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.register-card input {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.register-card button {
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #60a5fa;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.login-link {
  font-size: 14px;
  margin-top: 10px;
}

.login-link a {
  display: inline-block;
  color: #60a5fa;
  text-decoration: none;
  font-weight: 500;
  margin-left: 5px;
}

.toast {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 14px 24px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  animation: fadeSlide 0.3s ease;
}

.toast.success {
  background: rgba(34, 197, 94, 0.15);
  color: #22c55e;
  border: 1px solid rgba(34, 197, 94, 0.4);
}

.toast.error {
  background: rgba(239, 68, 68, 0.15);
  color: #f87171;
  border: 1px solid rgba(239, 68, 68, 0.4);
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translate(-50%, -20px);
  }

  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}